*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
.env
media/

htmlcov/
.coverage

materias/__pycache__/
materias/migrations/

grupos/__pycache__/
grupos/migrations/

ciclos/__pycache__/
ciclos/migrations/

usuarios/__pycache__
usuarios/migrations/

clases/__pycache__
clases/migrations/

calificaciones/__pycache__
calificaciones/migrations/
