{% extends 'base_correos.html' %}

{% block body %}

<div class="container text-center">

    <div class="row">
        <div class="col-md-12">
            <h1>Registro de aspirante</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>
                {{mensaje}}
                <br>
                Ante cualquier problema o error, contacta a la administración con la información de la parte inferior.
                <br>
                Este correo es solo para fines informativos. No responder.
            </h2>
        </div>
    </div>
</div>
{% endblock body %}
