{% extends 'base_correos.html' %}

{% block body %}

<div class="container text-center">

    <div class="row">
        <div class="col-md-12">
            <h1>Registro de aspirante</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Tu solicitud de registro será procesada por la administración lo más pronto posible.
                <br>
                Por favor, espera indicaciones de otros correos.
                <br>
                Este correo es solo para fines informativos. No responder.
            </h2>
        </div>
    </div>
</div>
{% endblock body %}
