{% extends 'base.html' %}

{% block head %}  
    <title>Lista de Aspirantes</title>
{% endblock head %}

{% block body %}

<div class="container contenedor contenido" id="contenedor">

    <div class="row">
        <div class="col-md-12">
            <h1>Aspirantes registrados</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Tu solicitud de registro será procesada por la administración.
                <br>
                Se te ha enviado un correo al correo registrado.
                <br>
                En caso de cualquier problema comunícate con la administración.</h2>
        </div>
    </div>
</div>
{% endblock body %}
