{% extends 'base.html' %}

{% block head %}   
    <title>Registro</title>
{% endblock head %}

{% block body %}

    <div class="container contenedor" id="contenedor">
        <div class="row ">
            <div class="col-md-12">
                <h1>Registro{% if user.is_authenticated %} aspirante{% endif %}</h1>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 form-container">
                <form method="post" class="form-control form" id="formulario" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        {{ form.first_name.errors }}
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </p>
                    <p>
                        {{ form.last_name.errors }}
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </p>
                    <p>
                        {{ form.email.errors }}
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </p>
                    <p>
                        {{ form.num_aspirante.errors }}
                        {{ form.num_aspirante.label_tag }}
                        {{ form.num_aspirante }}
                    </p>
                    <p>
                        {{ form.comprobante_pago.errors }}
                        {{ form.comprobante_pago.label_tag }}
                        {{ form.comprobante_pago }}
                    </p>
                    <p>
                        {{ form.username.errors }}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </p>
                    <p>
                        {{ form.password.label_tag }}
                        {{ form.password.errors }}
                        {{ form.password }}
                    </p>
                    <p>
                        {{ form.password2.errors }}
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </p>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        
                        {% if not user.is_authenticated %}
                            <a href="{% url 'usuarios:login' %}">Ya tengo cuenta</a>
                        {% endif %}
                            
                    </div>  
                </form>
            </div>
        </div>

    </div>
{% endblock body %}