{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock head %}
{% block titulo %}
    Detalle docente
{% endblock titulo %}

{% block css %}
{% endblock css %}
    

{% block body %}
<div class="container contenedor" id="contenedor">

    <div class="row ">
        <div class="col-md-12">
            <h1>Detalles docente</h1>
        </div>
    </div>

    <div class="col-md-12 form-control form">
        <div class="row">
            <div class="col col-sm-12 col-md-6">
                <label for="first_name">Nombre</label>
                <input type="text" class="form-control" name="first_name" id="first_name" value="{{docente.first_name}}" disabled title="enter your first name if any.">
            </div>
            <div class="col col-sm-12 col-md-6">
                <label for="last_name">Apellidos</label>
                <input type="text" class="form-control" name="last_name" id="last_name" value="{{docente.last_name}}" disabled title="enter your last name if any.">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col col-sm-12 col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" value="{{docente.email}}" disabled title="enter your email.">
            </div>
            <div class="col col-sm-12 col-md-6">
                <label for="email">Matrícula</label>
                <input type="email" class="form-control" name="email" id="email" value="{{docente.matricula}}" disabled title="enter your email.">
            </div>
        </div>

    </div>
</div>

{% include 'docentes/_materias_impartidas.html' %}

{% endblock body %}


{% block js %}
{% endblock js %}