{% extends 'base.html' %}

{% block head %}   
    <title>Nuevo Alumno</title>
{% endblock head %}

{% block body %}

    <div class="container contenedor" id="contenedor">
        <div class="row ">
            <div class="col-md-12">
                <h1>Registrar alumno</h1>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 form-container">
                <form method="post" class="form-control form" id="formulario">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>

    </div>
{% endblock body %}