{% extends 'base.html' %}


{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}"/>
{% endblock css %}


{% block body %}
    <div class="container contenedor" id="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Crear nueva clase</h1>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-8 form-container">
                <form method="post" class="form-signin form-control form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" id="submit_button" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>

    </div>
{% endblock body %}
    

{% block script %}
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

{% endblock script %}